<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368775242553-fm4f3vte5kb3ichqcharn13akapas7n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368775242553-fm4f3vte5kb3ichqcharn13akapas7n0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368775242553-64s9e3n2a485b3slo6t1efos1fdb56n4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCke8asTwtECKzGefl6db-Zh4YI76JKpCY</string>
	<key>GCM_SENDER_ID</key>
	<string>368775242553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heathvaultiitm.healthVault</string>
	<key>PROJECT_ID</key>
	<string>hepositary</string>
	<key>STORAGE_BUCKET</key>
	<string>hepositary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368775242553:ios:09a7af851c503f9d77bee8</string>
</dict>
</plist>